@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

$purle: #940b92;
$dark_purple: #610c9f;
$pink: #da0c81;
$dark_pink: #e95793;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
.main-container {
    overflow-x: hidden;
}

.content-container {
.content-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 70px);
}

.my-sidebar {
    background-color: #f2f2f2;
    color: rgb(61, 61, 61);
    padding: 30px;
    height: calc(100vh - 70px);
    border-right: 10px solid #e2e2e2;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-size: 20px;

    li {
        margin: 20px 0px;
    }

    a {
        text-decoration: none;
        color: rgb(61, 61, 61);

        &:hover {
            text-decoration: underline;
            color: #940b92;
        }
    }
}

.my-title {
    font-family: "Roboto Condensed";
    font-size: 40px;
    text-transform: uppercase;
}

.my-table-style {
    border: 1px solid lightgray;
    border-radius: 30px;

    th {
        font-family: "Roboto Condensed";
        text-transform: uppercase;
    }
}

.my-list{
    display: flex;
    list-style: none;
    border-bottom: 1px solid black;
}

li{
    margin-right: 25px;
}

a{
    color: black;
    text-decoration: none;
}

.hover-a{
    padding-left: 5px;
    &:hover {
        border-left: 2px solid #000000;
    }
}

.my_button {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-family: "Roboto Condensed";
    font-size: 12px;
    border: 1px solid black;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        background-color: #6c6c6c;
        color: #000000;
        border: 1px solid #6c6c6c;
    }
}

.my_icon_margin {
    margin-left: 22px;
}

.image_container {
    img{
        width: 700px;
        height: 400px;
    }
    object-fit: cover;
}

.my-nav {
    background-color: black;

    #bool3shop_logo {
        width: 180px;
    }
}
